<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="ex09">
    <table>
        <tr>
            <td>상품 이름</td>
            <td><input type="text" name="productName"></td>
        </tr>
        <tr>
            <td>상품 가격</td>
            <td><input type="text" name="productPrice"></td>
        </tr>
        <tr>
            <td>상품 수량</td>
            <td><input type="text"  name="productStock"></textarea></td>
        </tr>
        <tr>
            <td>상품 브랜드</td>
            <td><input type="text" name="productMaker"></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="입력"><input type="reset" value="취소"></td>
        </tr>
    </table>
</form>
</body>
</html>